.list {
    margin: var(--spacing-xl);
    display: grid;
    grid-template-columns: 1fr;

}

/*On desktop screensize list comments should be on a seperate column*/

@media screen and (min-width: 64rem ){
    .list {
        grid-template-columns: 3fr 2fr;
        grid-gap: var(--spacing-xl)
    }
    
}


/*List Metadata styles*/
.list-metadata{
    
    padding: var(--spacing-l);
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: var(--spacing-xs) var(--spacing-xs) var(--spacing-s) rgba(0,0,0,0.05);
    margin-bottom: var(--spacing-l);
}

.members :not(:last-child)::after{
    content: ", ";
}

.members :last-child{
    white-space: nowrap;
}

.created-by, .last-updated, .category{
    color: darkgray;
}

.member-paragraph {
    font-weight: bolder;
    color: darkgray
}

.owner-div, .member-div {
    margin-top: var(--spacing-l);
}



/*ListItems styles*/

.item-div {
    border-radius: 0.5rem;
    padding: var(--spacing-s);
    background-color: #fff;
    box-shadow: var(--spacing-xs) var(--spacing-xs) var(--spacing-s) rgba(0,0,0,0.05);
    margin-bottom: var(--spacing-l);
}


