.auth-form{
    max-width: var(--bp-tablet);
}

.auth-form label {
    display: block;
    margin-bottom: var(--spacing-s);
}

.auth-form span {
    display: block;
    margin-bottom: var(--spacing-xxs);

}

.auth-form input {
    min-width: 100%;
}

.upload-button {
  display: inline-block;
  padding: var(--spacing-xs) var(--spacing-s);
  background: var(--primary-color);
  color: var(--primary-bg-color);
  border-radius: 4px;
  cursor: pointer;
  font-size: var(--text-fluid-sm);
  text-align: center;
}

.upload-button:hover {
  background: var(--secondary-color);
}
