/*mobile first approach*/
/*No need for bem since css modules already give block scoping*/


.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    background: hsl(32, 65%, 62%);
    /* override fluid vars ONLY for navbar to fixed values */
    padding: 0.75rem 1rem;
    font-size: 1rem;
    font-weight: var(--weight-medium);
    z-index: 100;
}

.title {
    margin-right: auto;
    font-size: 1.25rem;
    font-weight: 600;
    display: flex;
    align-items: center;
}


.navbar ul {
    display: flex;
    margin: 0 auto;
    align-items: center;
    max-width: var(--bp-desktop);
}




.title a {
    display: inline-flex; /* keep link on one line with flex behavior */
    align-items: center;
    text-decoration: none; /* optional */
    color: inherit;        /* optional */
}

.title a img {
    height: 1.7em;
    width: auto;
    margin-right: 0.2em;
    margin-top: -0.3em; /* remove manual vertical offset */
}


.navbar li:not(:first-child) {
    margin-left: var(--spacing-s);
}

.navbar li:not(:first-child):hover {
    text-decoration: underline;
}


