:root {
  /* colors */
  --heading-color: #444;
  --text-color: #999;
  --primary-bg-color: whitesmoke;
  --primary-color: #dda15e;
  --secondary-color: #bc6c25;
  --text-color: #222222;
  --border-color: #e0e0e0; /* optional neutral */


  /*spacing fix for small ones fluid for big ones!*/
  --spacing-xxs: 0.25rem; /* 4px */
  --spacing-xs:  0.5rem;  /* 8px */
  --spacing-s:   1rem;    /* 16px */
  --spacing-m: 1.5rem;    /* 24px */
  /* Fluid spacing (for layout / sections) */
  --spacing-l:   clamp(1.5rem, 2vw + 1rem, 3rem);
  --spacing-xl:  clamp(2rem, 3vw + 1rem, 4rem);
  --spacing-xxl: clamp(3rem, 5vw + 2rem, 6rem);

  /*Typgraphy font sizes and font weights */
  --text-fluid-xl: clamp(1.5rem, 1vw + 1rem, 2.5rem);
  --text-fluid-lg: clamp(1.25rem, 0.8vw + 0.8rem, 2rem);
  --text-fluid-md: clamp(1.125rem, 0.7vw + 0.8rem, 1.75rem);
  --text-fluid-sm: clamp(1rem, 0.6vw + 0.75rem, 1.25rem);
  --text-fluid-base: clamp(1rem, 0.5vw + 0.75rem, 1.25rem);
  --weight-light: 300;
  --weight-normal: 400;
  --weight-medium: 500;
  --weight-bold: 700;


  /*reference Media queries breakpoints NOTE: Still have to write them explicitely in the media query - can't use var there*/
  --bp-smartphone: 30rem;  /* 480px */
  --bp-tablet: 48rem;      /* 768px */
  --bp-desktop: 64rem;     /* 1024px */
}